$base-font-size: 16px;
$base-font-family: 'Jura',
sans-serif;
$header-font-family: 'Underdog',
cursive;

$max-width: 1200px;

$main-spacing: 15px;

$primary-color: teal;
$text-color: black;
$border-color: gray;
$title-text-color: white;